<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">RN Site</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">
        Home
      </a>
      <a class="nav-link" routerLink="/city-util" routerLinkActive="active">
        Cities
      </a>
      <a class="nav-link" routerLink="/player-ranks" routerLinkActive="active">
        Players
      </a>
      <a class="nav-link" routerLink="/competitions" routerLinkActive="active">
        Competitions
      </a>
      <a class="nav-link" routerLink="/train-station-stats" routerLinkActive="active">
        Train Station Stats
      </a>
      <a class="nav-link" routerLink="/city-connected-stats" routerLinkActive="active">
        City Connections
      </a>
      <a class="nav-link" routerLink="/endgame-corp-stats" routerLinkActive="active">
        Endgame Stats
      </a>
    </ul>
    <ul class="navbar-nav navbar-right">
      <div class="input-group mr-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Server</span>
        </div>
        <input type="text" class="form-control" name="server" [(ngModel)]="settings.server">
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Cookie</span>
        </div>
        <input type="text" class="form-control" name="cookie" [(ngModel)]="settings.cookie">
      </div>
    </ul>
  </div>
</nav>
<div class="container" *ngIf="(!settings.cookie || !settings.server) && !isLoading">
  <h1>Welcome to RN Site!</h1>
  <p>In order to use this service, you must enter a valid cookie and server.</p>
  <form>
    <div class="form-group">
      <label for="cookieInput">Cookie</label>
      <input type="text" class="form-control" id="cookieInput" name="cookieInput" aria-describedby="cookieHelp" placeholder="Enter cookie" [(ngModel)]="cookie">
      <small id="cookieHelp" class="form-text text-muted">The cookie from the server. Type `document.cookie` into dev tools console and remove the quotes.</small>
    </div>
    <div class="form-group">
      <label for="serverInput">Server</label>
      <input type="text" class="form-control" id="serverInput" name="serverInput" aria-describedby="serverHelp" placeholder="Enter server name" [(ngModel)]="server">
      <small id="serverHelp" class="form-text text-muted">The server name in the url. For example, `com5`.</small>
    </div>
    <button type="submit" class="btn btn-primary" (click)="setSettings()">Submit</button>
  </form>
</div>
<div class="container" *ngIf="error">
  <div class="alert alert-danger">{{error}}</div>
</div>
<div class="container" *ngIf="isLoading">
  Loading user...
</div>
<div *ngIf="settings.cookie && settings.server && settings.userId">
  <router-outlet></router-outlet>
</div>
