.list-group-item {
    padding: .5rem 1.25rem;
}

.city-list {
    max-height: calc(100vh - 130px);
    overflow-y: auto;
}

.reload-button {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.7em;
}

.circle-bg {
  background: #268036;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  padding: 7px;
}

.prestige-bg {
  background: #D6D2C5;
  border-radius: 10px;
  color: #777;
  display: inline-block;
  font-weight: bold;
  margin-left: 10px;
  padding: 3px 7px;
}

.legend {
  padding: 5px;
  border-top: 2px solid #343a40!important;
  border-left: 2px solid #343a40!important;
  border-top-left-radius: 10px;
}
