<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-2">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-light" (click)="selectMany(true)">Select All</button>
        <button type="button" class="btn btn-light" (click)="selectMany(false)">Select None</button>
      </div>
      <ul class="list-group city-list">
        <li class="list-group-item clickable" *ngFor="let city of cities" [ngClass]="{'active': city.selected}" (click)="toggleCity(city)">{{city.name}}</li>
      </ul>
    </div>
    <div class="col-10">
      <div class="row">
        <h1>Cities - <small>PP from Selected Cities: {{getTotalPrestigePoints()}} <i class="fa fa-spinner fa-spin" aria-hidden="true" *ngIf="isAnyCityLoading()"></i></small>
          <span class="float-right">
            <div class="form-inline d-flex align-items-center">
              <div class="input-group">
                <span class="input-group-text">Load Size</span>
                <input class="form-control" [(ngModel)]="loadSize" placeholder="Number of wagons per load">
              </div>
              <div class="btn-group ml-3" btnRadioGroup [(ngModel)]="sortMode">
                <label class="btn btn-light mb-0" btnRadio="alpha">Alphabetical</label>
                <label class="btn btn-light mb-0" btnRadio="growth">Growth</label>
                <label class="btn btn-light mb-0" btnRadio="level">Level</label>
                <label class="btn btn-light mb-0" btnRadio="prestige">Prestige</label>
                <label class="btn btn-light mb-0" btnRadio="ppPerTon">Prestige Per Ton</label>
                <label class="btn btn-light mb-0" btnRadio="pax">Pax</label>
              </div>
              <button class="btn btn-primary ml-3" (click)="loadData()">Reload All</button>
            </div>
          </span>
        </h1>
      </div>
      <h4 class="mb-2"></h4>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-4" *ngFor="let city of visibleCities">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">
                <div class="circle-bg">{{ city.level }}</div> {{city.name}} <small>{{city.getPercentDone()}}%</small> <small><div class="prestige-bg"><div class="fas fa-star"></div> {{city.getPrestigePoints()}}</div> <i class="fa fa-spinner fa-spin" aria-hidden="true" *ngIf="city.loading"></i></small>
                <button class="btn btn-primary float-right reload-button" (click)="loadSingleCity(city)">Reload</button>
              </h5>
              <span *ngIf="city.loading">Loading...</span>
              <app-rg-chart *ngIf="city?.rgs && !city.loading" [city]="city"></app-rg-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<span class="fixed-bottom">
  <span class="float-right legend">
    <strong>Legend</strong>
    <small class="ml-2 muted">[D]: this good falls off next (level 5+)</small>
    <small class="ml-2 muted"><span style="color: purple">pp/L:</span> the best ratio of potential prestige per load</small>
  </span>
</span>
