.container {
    margin-top: 50px;
}
.overlay {
    position: fixed;
    top: 56px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
    background-color: #00000033;
}
.scroll-list {
    max-height: 70vh;
    overflow-y: auto;

}
.scroll-list .list-group-item {
  padding: 5px;
}
.player-list {
  font-size: 16px;
  font-weight: normal;
}
