<button class="btn btn-block" (click)="selectorVisible = true" [ngClass]="{'btn-secondary': isReady, 'btn-warning': !isReady}">
  {{groupPick}}
</button>

<div class="overlay" *ngIf="selectorVisible">
  <div class="container"><div class="card">
    <div class="card-header">
      <h4>
        Group Selector - {{groupPick}}
        <button class="btn btn-primary float-right" (click)="selectorVisible = false">Done</button>
      </h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="form">
            <h5>Presets:</h5>
            <div class="btn-group mb-3">
              <button class="btn btn-light" (click)="loadMyCorp().then()">My Corp</button>
              <button class="btn btn-light" (click)="loadTop20().then()">Top 20 Players</button>
            </div>
            <h5>Search:</h5>
            <div class="input-group mb-3">
              <input class="form-control" [(ngModel)]="corpSearchText" placeholder="Search Corp Names" [ngbTypeahead]="searchCorps" [resultFormatter]="searchCorpsFormatter" (selectItem)="selectedFoundCorp($event)">
            </div>
            <div class="input-group">
              <input class="form-control" [(ngModel)]="playerSearchText" placeholder="Search User Names" [ngbTypeahead]="searchPlayers" [resultFormatter]="searchPlayersFormatter" (selectItem)="selectedFoundPlayer($event)">
            </div>
          </div>
        </div>
        <div class="col">
          <div>
            <h5 class="card-title">Players:
              <div class="btn-group ml-3">
                <button class="btn btn-light" (click)="selectAll()">Select All</button>
                <button class="btn btn-light" (click)="deselectAll()">Select None</button>
                <button class="btn btn-light" (click)="reset()">Clear</button>
              </div>
            </h5>
          </div>
          <div>
            <ul class="list-group list-group-flush scroll-list player-list">
              <li class="list-group-item clickable" *ngFor="let player of players" (click)="player.selected = !player.selected">
                <input type="checkbox" [(ngModel)]="player.selected">
                {{player.name}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
