<div class="container-fluid mt-3">
    <div class="row">
      <div class="col">
        <select class="form-select" [(ngModel)]="prestigeFilter" (change)="updateRows().then()" [disabled]="isLoading">
            <option *ngFor="let filter of filterOptions"  [ngValue]="filter.type">{{filter.display}}</option>
        </select>
      </div>
      <div class="col">
        <button class="btn btn-primary btn-block" (click)="loadData().then()" [disabled]="isLoading">
          <span *ngIf="!isLoading">Reload</span>
          <span *ngIf="isLoading">Loading...</span>
        </button>
      </div>
      <div class="col">
        <button class="btn btn-info btn-block" (click)="export()" [disabled]="isLoading">Export</button>
      </div>
      
    </div>
    <div class="row">
      <ag-grid-angular
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
    </div>
  </div>
  