<div class="router-page">
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to my RN Site!</h1>
      <p class="lead">Made by me.</p>
      <hr class="my-4">
      <p>This site can be used for getting better stats in your game. These stats should help you see where you can get more prestige and where others are also getting prestige.</p>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <h5 class="card-header">City Utility</h5>
          <div class="card-body">
            <p class="card-text">A quick view of the cities in your game.</p>
            <a  class="btn btn-primary" routerLink="/city-util" routerLinkActive="active">Open</a>
          </div>
          <hr>
          <img src="/assets/images/city-util.png" class="card-img-bottom" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h5 class="card-header">Top Player Ranks</h5>
          <div class="card-body">
            <p class="card-text">A quick view of the top players in your game.</p>
            <a  class="btn btn-primary" routerLink="/player-ranks" routerLinkActive="active">Open</a>
          </div>
          <hr>
          <img src="/assets/images/player-ranks.png" class="card-img-bottom" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>
