<div id="chart">
    <apx-chart class="top-chart"
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [legend]="chartOptions.legend"
      [dataLabels]="chartOptions.dataLabels"
      [colors]="chartOptions.colors"
      [plotOptions]="chartOptions.plotOptions"
    ></apx-chart>
    <apx-chart class="bottom-chart"
      [series]="paxChartOptions.series"
      [chart]="paxChartOptions.chart"
      [legend]="paxChartOptions.legend"
      [dataLabels]="paxChartOptions.dataLabels"
      [colors]="paxChartOptions.colors"
      [plotOptions]="paxChartOptions.plotOptions"
    ></apx-chart>
    <div id="rg-ranks">
      <div *ngFor="let rg of city.rgs" class="rank-row">
        <small *ngIf="rg.isDeliveredByPlayer" class="badge rounded-pill rank" [ngClass]="getRankClass(rg.playerRank)">#{{rg.playerRank}} ({{rg.prestige}}pp)</small>
        <small class="ml-1 badge rounded-pill ppRatio" [style.opacity]="getPPRatioOpacity(rg)">{{getPPRatio(rg)}}pp/L</small>
      </div>
      <div *ngIf="city.paxRg as rg" class="rank-row pax-row">
        <small *ngIf="rg.isDeliveredByPlayer" class="badge rounded-pill rank last" [ngClass]="getRankClass(rg.playerRank)">#{{rg.playerRank}} ({{rg.prestige}}pp)</small>
        <small class="ml-1 badge rounded-pill ppRatio" [style.opacity]="getPPRatioOpacity(rg)">{{getPPRatio(rg)}}pp/L</small>
      </div>
    </div>
  </div>
  