#chart {
    position: relative;
    max-height: 260px;
}

#rg-ranks {
    position: absolute;
    top: 25px;
    right: -5px;
}

.rank {
    margin-bottom: 10px;
}

.rank.last {
    margin-top: 57px;
}

.top-chart {
    top: -10px;
}

.bottom-chart {
    top: -45px;
}