#chart {
    position: relative;
    max-height: 260px;
    max-width: calc(100% - 50px);
}

#rg-ranks {
    position: absolute;
    top: 22px;
    right: -55px;
    text-align: right;
}

.rank-row {
    margin-bottom: 10px;
}

.rank-row.pax-row {
    margin-top: 57px;
}

.ppRatio {
    min-width: 60px;
}

.top-chart {
    top: -10px;
}

.bottom-chart {
    top: -45px;
}